
#pic img{
	border: none;
	box-shadow: none;}

.greenbox {
	box-shadow: 5px 5px 2px grey;
	margin:0 auto;
	width: 45%;
	background: rgba(10,100,50,.9);
	color:white;
}

#h.blue {
	color: rgba(0,129,205,1);
	border-bottom: 2px solid green;
	clear: both;

}

#part {
		display: inline-block;
		float:left;
		font-size: 18px;
		background-color: rgba(100,0,60,0.9);
    color: white;
		margin: 0em;
		padding: 0px 5px 0px 5px;
}

#sectitle{
	display: block;
	background-color: rgba(0,0,0,1);
	color: white;
	text-align:left;
	font-size:15px;

}

#float-box {
	display: inline-block;
	margin: 0px;
}

#toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    background-color: #f1f1f1;
}

#toc ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    text-align: center;
    background-color: #f1f1f1;
}

#toc li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
#toc li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

#toc li a.active {
    background-color: #4CAF50;
    color: white;
}
